* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    scroll-behavior: smooth;
  }
:root{  
    --text-color: white;
    --nav-color:rgba(82,82,82,0.3);
    --header-color:rgb(20,20,20);
    --body-color:rgb(15,15,15);
    --second-color:#00768c;
    --hover-button:#01d7ff;
    --switch-image: url(./assets/moon-stars.svg);
    --hover-icon:  rgba(255, 255, 255, 0.1);
}
.light{
    --text-color:#000000;
    --header-color:#ffffff;  
    --nav-color:#00768c;
    --body-color:#ffffff;
    --switch-image: url(./assets/sun.svg);
    --hover-icon:  rgba(0, 0, 0, 0.1);

}


html{
    overflow-x: hidden;
    font-size: 65.2%;
}

body{
    color:var(--text-color);
    background-color: var(--body-color);
   
}


.header{
    position: fixed ;
    display: flex;
    top:  0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    z-index: 100;
    background: transparent;
    align-items: center;
    transition: .5s;
    gap: 5em;    
}
.header.sticky{
    background: var(--header-color);
    box-shadow: 0 .1rem 0.5rem  var(--text-color);
}

.header.sticky .navigation a{
    color: var(--second-color);
}
.header.sticky .navigation a{
    color: var(--text-color);
}
.header.sticky .navigation a.active{
    color: var(--second-color);
}
.logo{    
    color:var(--text-color);
    margin-right: auto;
}
.logo  p{
    font-family: 'Inter', sans-serif;
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
  

}

.navigation{
    display: flex;
    border-radius: 25px;
}

.navigation  a{   
    font-size: 2.5rem; 
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.18px;
    font-weight: 500;
    margin-right: 3.5em; 
    white-space: nowrap;
}

.navigation  a.active::before{
    content: '';
    position: absolute ;
    left: 0;
    bottom: -6px;
    height: .2rem;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 50px;
    transition: width 0.3s linear;
    background-color:var(--second-color) ;
    
}

.header .sticky .navigation a.active::before{
    background: var(--header-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
}
.header .sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}
#menuIcon{
    font-size: 3.6rem;
    color: var(--text-color);
    display:none;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home .presentation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    
}
.row{
    text-align: center;
}
.col h4{
    color: var(--second-color);
    font-family: "poppins-bold", sans-serif;
    font-size: 4.6rem;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.col h1{
    color: var(--text-color);
    font-size: 16.2rem;
    font-weight: bold;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.4rem;
}
.col p{
    font-size: 3.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--text-color);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}


.btn{
    display: inline-block;
    margin: 1.2rem;
    padding: 1.2rem 2.8rem;
    border-radius: .6rem;
    background: var(--text-color);
    box-shadow: 0 .2rem .2rem var(--text-color);
    font-size: 3.2rem;
    color: var(--body-color);
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    background:var(--second-color);
    color: var(--text-color);
    box-shadow: 0 .2rem .2rem var(--hover-button);
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}
.about-me{
    box-sizing: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 3rem;
}
.profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-size: 3.0em;

}
.profile-text h2{
    font-size: 8rem;
    line-height: 2em;
    font-weight: 500;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  
}
.social-links .title-links h3{
    font-size: 2em;
}
.social-links .my-links{
    display: flex;
    gap: 2em;
    align-items: center;
}
.social-links .my-links a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5em;
    text-align: center;
    border: 1px transparent var(--text-color);
    background-color: var(--hover-icon);
    border-radius: 50%;
    transition: ease 0.3s;


}
.social-links a:hover{
    border-radius: 50%;
    background-color: var(--second-color);
    
}
.color{
    color: var(--second-color);
}
#skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-width: 100%;
    justify-items: center;
    font-size: 3rem;
    gap: 1rem;

}
.my-skills > div{
    margin:  1% 0 0;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content:start;
}
.my-skills h2{
    color: var(--second-color);
    font-size: 8rem;
}
.my-skills h3{
    font-size: 0.9em;
}
.description h2{
    color: var(--second-color);
    font-size: 5rem;
}

.icons:hover{
    font-weight: bolder;
    color: var(--second-color);
}
.portifolio{
    padding-bottom: 10rem;
}
.portifolio h2{
    font-size: 7em;
    margin-bottom: 4rem;
    text-align: center;
}
.portifolio .portifolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portifolio-container .portifolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 1, .1);
    overflow: hidden;
}
.portifolio-box img{
    width: 100%;
 
    transition: .5 ease;
}   
.portifolio-box:hover img{
    transform: scale(1.1);
}
.portifolio-box .portifolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 1, .1), var(--second-color));
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portifolio-box:hover .portifolio-layer{
    opacity: 1;
}


.portifolio-layer h4{
    font-size: 3rem;
    font-weight: bold;
}
.portifolio-layer p{
    font-size: 2.0rem;
    margin: .3rem 0 1rem;
}
.portifolio-layer a{
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    text-decoration: none;
}
.portifolio-layer a i {
    font-size: 2rem;
    color: var(--body-color);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2{
    margin-bottom: 3rem;
    font-size: 5rem;
    letter-spacing: .3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--body-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--text-color);
}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 1rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3.5%;
    background-color: var(--second-color);
}

.footer-text{
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--body-color);
    border-radius: .8rem;
    border: .2rem solid var(--hover-button);
    outline: .2rem solid transparent;
    transition: .5s ease;
    text-decoration: none;
}
.footer-iconTop a i {
    font-size: 24px;
    color: var(--text-color);
}
.footer-iconTop a:hover{
    outline-color: .2rem solid white;

}
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 1024px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%  2rem;
    }
}
@media (max-width:965px){
    .navigation a{
        font-size: 2.1em;
    }

}
@media (max-width: 768px){
    #menuIcon{
        display: block;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--header-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        border-radius: 0;
        display: none;
    }
    .navigation.active{
        display: block;
    }
    .navigation a{
        display: block;
        font-size: 2em;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navigation a.active{
        color: var(--second-color);
    }
    .navigation a:nth-child(1),.navigation:nth-child(2){
        color: var(--text-color);
    }
    
    .navigation a:before{
       display: none;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .profile-image img{
        width: 40vw;
    }

    .profile-text h2{
        font-size: 3.5em;
        line-height: 1em;
    }

    .profile-text p{
        text-align: center;
        white-space: inherit;
        font-size: 0.7em;
    }
    .my-skills h2{
        font-size: 1.5em;
    }
    .description h2{
        font-size: 1.5em;
    }

    .portifolio h2{
         margin-bottom: 3rem;
    }
    
    .portifolio .portifolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:617px){
    .portifolio .portifolio-container{
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr;
    }
    .skills h2{
        font-size: 3em;
        letter-spacing: .5rem;
    }
    .description{
        display: none;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    #darkMode-icon{
        right: 6rem;
    }
    
    .home{
        padding: 10rem 3% 30rem;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width:365px){
    html{
        font-size: 40%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}